.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 10px;
  isolation: isolate;

  /* width: 410.67px; */
  height: 294px;

  /* Primary/5 */

  background: #f6f5ff;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.title {
  width: 346.67px;
  height: 36px;

  /* H3/Extrabold */

  font-family: 'Noto Sans Georgian';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  /* Greyscale/100 */

  color: #080537;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.content {
  /* width: 346.67px; */
  height: 72px;

  /* Body/Small/Regular */

  font-family: 'Noto Sans Georgian';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  /* or 18px */

  /* Greyscale/100 */

  color: #080537;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.number {
  /* position: absolute; */
  /* display: flex;
  justify-content: flex-end; */
  width: 45px;
  height: 120px;
  /* right: 31.21px; */
  /* bottom: -2.23px; */
  /* padding-left: 301px; */


  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 700;
  font-size: 96.2433px;
  line-height: 125%;
  /* or 120px */

  /* Greyscale/100 */

  color: #080537;

  opacity: 0.1;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}
